@charset "UTF-8";

@font-face {
    font-family: 'fonte';
    src: url(../fonts/AlbertSans-VariableFont_wght.ttf )format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #FFE2C2;
}

main h1{
    text-align: center;
    font-family: 'fonte', Arial, Helvetica, sans-serif;
}

main h2{
    text-align: center;
    font-family: 'fonte', Arial, Helvetica, sans-serif;
}
header div#iconBack{
    background-image: url(../img/Captura_de_tela_2025-06-02_170545-removebg-preview.png) ;
    background-size: cover;
    width: 40px;
    height: 37px;
}

main div#fotoPrincipal{
    background-image:  url(../img/turistas-desenhados-a-mao-ilustrados_52683-69578.avif);
    background-size: cover;
    width: 100vw;
    height: 55vh;
}