@charset "UTF-8";

@font-face {
    font-family: 'fonte';
    src: url(../fonts/AlbertSans-VariableFont_wght.ttf )format('truetype');
}

*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
    to { opacity: 1; }
}

body, html {
    background-color: #FFE2C2;
    overflow-x: hidden;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

main h1{
    text-align: center;
    font-family: 'fonte', Arial, Helvetica, sans-serif;
    color: #2E3456;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.149);
    padding-bottom: 24px;
    font-weight: bolder;
}

main h2{
    text-align: center;
    font-weight: bold;
    font-family: 'fonte', Arial, Helvetica, sans-serif;
    color: #FC6701;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.149);
}
header div#iconBack{
    background-image: url(../img/Captura_de_tela_2025-06-02_170545-removebg-preview.png) ;
    background-size: cover;
    width: 57px;
    height: 58px;
    float: right;
    margin: 15px 15px;
    opacity: 0.7; 
}

main div#fotoPrincipal{
    background-image:  url(../img/real.png);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 65vh; 
}

section.icones {
    padding-top: 40px;
    display: flex;
    gap: 50px; 
    
}
 
main div#relogio{
    background-image: url(../img/icons8-hora-2-50.png);
    width: 50px;
    height: 50px;
    background-size: cover;
    margin: auto;
    width: 73px;
    height: 73px;
}

main div#etiqueta{
    margin: auto;
    background-image: url(../img/icons8-etiqueta-de-preço-32.png);
    width: 50px;
    height: 50px;
    background-size: cover;
    width: 78px;
    height: 78px;
}

button#botao{
    display: block;
    margin: auto;
    width: 304px;
    height: 55px;
    margin-top: 30px;
    border: 0px;
    border-radius: 15px;
    background-color: #FDA52A;
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.148);
}

button#botao {
    text-align: center;
    color: black;
    padding-top: 10px;
    font-size: 1.7em;
    font-weight: bold;
    
}

button#botao {
    text-decoration: none;
    color: black;
}

section#textos{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;
    justify-content: space-around;
    padding-top: 15px;
    color: #2E3456;
    font-weight: bold;
}