@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFE2C2;
    
}

main.pai{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

div.tela{
    background-color: #424242;
    height: 551px;
    width: 308px;
}

img{
    height: 50px;
    width: 50px;
    display: block;
    margin: auto;
    margin-top: 20px;
}

h1{
    padding-top: 20px;
    color: white;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
}

h2{
    padding: 10px;
   color: white;
   text-align: center;
   font-size: medium;
   font-weight: normal;
   font-style: normal;
}

div.login1{
    display: flex;
    width: 50px;
    border: 2px dashed red ;
}

div.login1 img{
    border-radius: 50%;
    border: 1px solid white;
    margin-left: 10px;
    height: 40px;
    width: 40px;
    margin: 5px;
}

div.login1 h1{
    font-size: .9em;
}