@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

body {
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
    to { opacity: 1; }
}

body, html {
    background-color: #FFE2C2;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

header div#btVoltar{
    background-image: url(../img/icons8-voltar-50.png);
    background-size: cover;
    width: 40px;
    height: 40px;
    margin: 22px 0px 0px 0px;
    text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.295);
}

h1, h2, p{
    color: #2E3456;
}
header h1{
    color: #2E3456;
    
    margin: auto;
    margin-top: 26px;
    margin-bottom: 26px;
    font-size: 29px;
    text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.295);
}

h2{
    text-align: center;
    padding-top: 56px;
    padding-bottom: 60px;
    font-size: 40px;
    text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.295);
}

header div#iconBacklg{
    background-image: url(../img/Captura_de_tela_2025-06-02_170545-removebg-preview.png);
    background-size: cover;
    width: 40px;
    height: 40px;
    margin: 17px 9px 0px 0px;
    text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.295);
}

header section{
    display: flex;
}

section div#imgPrincipal{
    background-image: url(../img/9227663.jpg);
    background-size: cover;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.295);
    width: 360px;
    height: 432px;
    border-radius: 76px;
    margin: auto;
}

.botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div#google  {
    display: flex;
    background-color: #FDA52A;
    margin: 0px 0px 10px 0px;
    border-radius: 24px;
    width: 357px;
    height: 51px;
    border: 0px;
     box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.295);
}

div#google img{
    padding-left: 37px;
    padding-top: 4px; 
    height: 43px;
    width: 43px;
    padding-right: 11px;
}

div#google p{
    display: flex;
    font-weight: bolder;
    padding: 10px 0px 0px 0px;
    font-size: 1.3em;
    padding-top: 15px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.295);
    color: black;
}

div#email  {
    display: flex;
    background-color: #FDA52A;
    margin: 0px 0px 10px 0px;
    border-radius: 24px;
    width: 357px;
    height: 51px;
    border: 0px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.295);
}

div#email img{
    padding-left: 47px;
    padding-top: 4px; 
    height: 42px;
    width: 42px;
    padding-right: 11px;
}

div#email p{
    display: flex;
    font-weight: bolder;
    padding: 10px 0px 0px 10px;
    font-size: 1.3em;
    padding-top: 15px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.295);
    color: black;
}

div#facebook  {
    display: flex;
    background-color: #FDA52A;
    margin: 0px 00px 10px 0px;
    border-radius: 24px;
    width: 357px;
    height: 51px;
    border: 0px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.295);
}

div#facebook img{
    padding-left: 20px;
    padding-top: 4px; 
    height: 43px;
    width: 43px;
}

div#facebook p{
    display: flex;
    font-weight: bolder;
    padding: 10px 0px 0px 10px;
    font-size: 1.3em;
    padding-top: 15px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.295);
    color: black;
}

div#apple  {
    display: flex;
    background-color: #FDA52A;
    margin: 0px 0px 10px 0px;
    border-radius: 24px;
    width: 357px;
    height: 51px;
    border: 0px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.295);
}

div#apple img{
    padding-left: 39px;
    padding-top: 4px; 
    height: 43px;
    width: 43px;
}

div#apple p{
    display: flex;
    font-weight: bolder;
    padding: 10px 0px 0px 10px;
    font-size: 1.3em;
    padding-top: 15px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.295);
    color: black;
}

footer{
    text-align: center;
    color: black;
    text-decoration: underline;
    font-weight: bolder;
    font-size: small;
    padding: 13px 15px 1px 15px;
}

footer p{
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.295);
}

a{
    text-decoration: none;
}